<h2>User details</h2>
	<h3>Profile Picture</h3>
	  <p>
	    <strong>Image:</strong>
	    <%= image_tag @user.avatar.url %>
	  </p>
<dl class="dl-horizontal">
	<dt><strong>Full Name</strong></dt>
	<dd><%= @user.full_name %></dd>
	<dt><strong>Email</strong></dt>
	<dd><%= @user.email %></dd>
</dl>

	<h2>Render Vacation Post</h2>
	<h2>Render Vacation Post</h2>
	<h2>Vacation Post</h2>
	<h2>Vacation Post</h2>
	<h2>Vacation Post</h2>


<%= link_to "Back", my_friends_path, class: 'btn btn-primary' %>